:root {
    --bg-color: hsla(0, 0%, 50%, 0.4);
    --bg-color-dark: hsla(0, 0%, 10%, 0.3);
    --font-color: hsl(0, 0%, 5%);
    --rounded-corners: 10px;
    --border: 1px solid hsla(0, 0%, 100%, 0.2);
    --drop-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
    --text-shadow: 1px 1px hsl(0, 0%, 10%);
    --text-brighter: hsl(0, 0%, 90%);
    --text-bright: hsl(0, 0%, 80%);
    --highlight: hsla(0, 0%, 100%, 0.3);
    --ATL: #e03a3e;
    --BKN: #000000;
    --BOS: #007a33;
    --CHA: #00788c;
    --CHI: #ce1141;
    --CLE: #860038;
    --DAL: #0053bc;
    --DEN: #0e2240;
    --DET: #c8102e;
    --GSW: #ffc72c;
    --HOU: #ce1141;
    --IND: #002d62;
    --LAC: #c8102e;
    --LAL: #552583;
    --MEM: #5d76a9;
    --MIA: #98002e;
    --MIL: #00471b;
    --MIN: #0c2340;
    --NOP: #85714d;
    --NYK: #f58426;
    --OKC: #ef3b24;
    --ORL: #0077c0;
    --PHI: #006bb6;
    --PHX: #e56020;
    --POR: #e03a3e;
    --SAC: #5a2d81;
    --SAS: #c4ced4;
    --TOR: #ce1141;
    --UTA: #f9a01b;
    --WAS: #002b5c;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* disable double tap to zoom */
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@supports (height: 100vh) {

    body {
        height: 100vh;
    }
}

@supports not (height: 100vh) {

    body {
        height: -webkit-fill-available;
    }
}

body {
    --bg-left: hsl(0, 0%, 85%);
    --bg-right: hsl(0, 0%, 70%);
    background: linear-gradient(135deg,
            var(--bg-left),
            var(--bg-right));
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    color: var(--font-color);
    font-size: 100%;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: background-color 1s;
}

/*
-------------------------------------------------------------------
MAIN
-------------------------------------------------------------------
*/

main {
    width: 95vw;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

section {
    width: 45vmin;
    height: 55vmin;
    background-color: var(--bg-color);
    border-radius: var(--rounded-corners);
    box-shadow: var(--drop-shadow);
    transition: box-shadow 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
}

.img-bg {
    --bg-img: url(../img/DEN.svg);
    --bg-color: var(--DEN);
    height: 40%;
    background: var(--bg-img) top left, linear-gradient(90deg, hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.2));
    border-radius: var(--rounded-corners) var(--rounded-corners) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    position: relative;
    background-size: 30%, auto;
    background-repeat: no-repeat;
    background-position: 1vmin 1vmin, left top;
}

.img-bg img {
    margin-left: 7vmin;
    height: 100%;
    object-fit: contain;
}

main h1 {
    margin: 0.7vmin 4vmin 0 4vmin;
    font-size: 4vmin;
    text-transform: uppercase;
    color: var(--text-brighter);
    text-shadow: var(--text-shadow);
    font-weight: 600;
    line-height: 1.1;
}

main ul {
    margin: 1vmin 0 2vmin 4vmin;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

main li {
    font-size: 1.8vmin;
    padding: 0.35vmin 0;

    width: 20%;
    transition: color 0.5s;
}

main li:nth-of-type(even):hover {
    background-color: var(--highlight);
    text-align: center;
    border-radius: var(--rounded-corners);
    cursor: pointer;
}

main li:nth-of-type(odd) {
    color: var(--text-bright);
}

.higher {
    color: hsl(120, 100%, 50%) !important;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
}

.lower {
    color: hsl(0, 100%, 50%) !important;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
}

abbr {
    text-decoration: none;
    position: relative;
}


/*
-------------------------------------------------------------------
ASIDE
-------------------------------------------------------------------
*/

aside {
    background-color: var(--bg-color-dark);
    border-radius: var(--rounded-corners);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--drop-shadow);
    border: var(--border);
}

.scoreboard {
    padding: 1vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.players {
    color: var(--text-bright);
    font-size: 3vmin;
    font-weight: 700;
}

aside output {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vmin;
    width: 14vmin;
}

aside output span {
    font-size: 10vmin;
    color: var(--text-brighter);
    line-height: 1;
    text-shadow: var(--text-shadow);
    font-weight: 800;
}

#time {
    font-size: max(2.5vmin, 1.2em);
    padding: 0.5vmin;
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.1);
    border-radius: 0 0 var(--rounded-corners) var(--rounded-corners);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-bright);
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    text-decoration: underline;
}

.animate {
    animation: slideUp 1s;
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}


/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: hsla(0, 0%, 0%, 0.3);
        --font-color: hsl(0, 0%, 90%);
        --text-shadow: 1px 1px #000;
    }

    main li:nth-of-type(even):hover {
        color: var(--font-color);
    }
}

@media only screen and (max-width: 480px) {
    body {
        justify-content: center;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        gap: 3vmin;
    }

    .img-bg {
        height: 35.7vw;
        background-size: 22%, auto;
    }

    .img-bg img {
        max-width: 45vw;
        position: absolute;
        right: 7%;
    }

    section {
        width: 90vw;
        height: max-content;
        margin: 1vh;
        position: relative;
    }

    main h1 {
        position: absolute;
        top: 18%;
        left: 0;
        font-size: 1.4em;
        width: 40vw;
        height: 3.5em;
        display: flex;
        align-items: flex-end;
    }

    main li {
        font-size: 1em;
        width: 12%;
        margin: 0.5vh 0;
    }

    aside output {
        width: 5em;
        height: 3em;
    }

    aside {
        margin: 1em;
    }

    aside output span {
        font-size: 3em;
    }

    .players {
        font-size: 1.2em;
        padding: 0 0.5em;
    }
}